
.crossword-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  text-align: center;
  margin-top: 20px;
  align-content: stretch;
  flex-wrap: wrap;
}

.crossword-board {
  display: grid;
  grid-template-rows: repeat(12, 50px); 
  grid-template-columns: repeat(12, 50px); 
  gap: 2px; 
  background-color: #D6F5E3;
  padding: 10px;
  position: relative;
  width: 70vw;
}

.cell {
  width: 40px;
  height: 40px;
  border: 2px solid red;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border-radius: 10px;
  padding: 2px;
}

.cell input {
  background-color: transparent;
  width: 100%;
  height: 100%;
  border: none;
  text-align: center;
  font-size: 18px;
  text-transform: uppercase;
}
.cell:focus-within {
  border: 2px solid blue; 
}
.cell input:focus {
  width: 40px;
  height: 42px;
  border-radius: 8px;
  outline: 1px solid blue;
  transform: scale(1.05);
  transition: 0.2s ease;
  background-color: #cbe9d8;

  
}
.cell.correct{
  border: 2px solid green;
}

.cell .clue {
  position: absolute;
  top: 2px;
  left: 2px;
  font-size: 12px;
  color: black;
}.timer {
  font-size: 18px;
  margin-bottom: 10px;
  font-weight: bold;
}
.validar_resposta{
  cursor: pointer;
  font-family: 'Comic Neue', cursive;
  color: #264653;
  font-size: 14px;
  transition: background-color 0.3s ease;
  background-color: rgb(123, 241, 241);
  border-radius: 10px;
}
.questions {
  position: absolute; 
  top: 15vh; 
  right: 16vw; 
  background-color: #ffffff; 
  padding: 15px; 
  border: 2px solid #ccc; 
  border-radius: 10px; 
  width: 450px; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}

.questions h3 {
  text-align: center; 
  margin-bottom: 15px; 
  font-size: 18px;
  color: #264653;
}

.questions-columns {
  display: flex; 
  justify-content: space-between; 
}

.horizontal-questions,
.vertical-questions {
  width: 45%; 
}

.horizontal-questions h4,
.vertical-questions h4 {
  margin-bottom: 10px; 
  font-size: 16px;
  color: #2a9d8f;
}

.horizontal-questions ul,
.vertical-questions ul {
  list-style: none; 
  padding: 0; 
}

.horizontal-questions li,
.vertical-questions li {
  margin-bottom: 25px; 
  font-size: 14px;
  color: #264653;
}
.back-home-button {
  position: absolute; 
  top: 10px; 
  left: 10px; 
  background-color: #264653; 
  color: #ffffff; 
  padding: 10px 15px; 
  border: none; 
  border-radius: 5px; 
  text-decoration: none; 
  font-size: 14px; 
  font-family: 'Comic Neue', cursive; 
  cursor: pointer; 
  transition: background-color 0.3s ease; 
}

.back-home-button:hover {
  background-color: #2a9d8f; 
}